<p>1. Create new user manually:</p>
<form name="newUserForm" method="get" ng-model="newUser">
    Login*:<input type="text" ng-model="newUser.login" required><br/>
    E-mail*:<input type="email" ng-model="newUser.email" required><br/>
    Password:<input type="password" ng-model="newUser.password" required>
    <field ng-show="newUser.password">
        Repeat password here:<input type="password" ng-model="newUser.matchingPassword"
                                    required></field>
    <br/>
    * - must be unique:<br/>
    Extra data:<br/>
    First Name:<input type="text" ng-model="newUser.firstName"><br/>
    Last Name:<input type="text" ng-model="newUser.lastName"><br/>
    Patronymic:<input type="text" ng-model="newUser.patronymic"><br/>
    Role:
    <select ng-model="newUser.role">
        <option value="USER">User
        <option value="ADMIN">Admin
    </select><br/>
    <button ng-click="addNewUser()"
            ng-show="newUser.matchingPassword && (newUser.password === newUser.matchingPassword)">
        Add new user
    </button>
</form>
<br/>
<p>2. Update user:</p>
<form name="getUserForUpdate">
    Input LOGIN:<input type="text" name="loginToUpdate" ng-model="userForUpdate.login" required><br/>
    <button ng-click="getAndShowUser()" ng-show="userForUpdate.login">Get user to update</button>
</form>
<form name="updateUserForm" ng-model="userForUpdate" ng-show="userForUpdate.email">
    <p>Warning! While updating you MUST to choose new password!</p>
    E-mail*:<input type="email" ng-model="userForUpdate.email" required><br/>
    Password:<input type="password" ng-model="userForUpdate.password" required>
    <field ng-show="userForUpdate.password">
        Repeat password here:<input type="password"
                                    ng-model="userForUpdate.matchingPassword"
                                    required></field>
    <br/>
    * - must be unique:<br/>
    Extra data:<br/>
    First Name:<input type="text" ng-model="userForUpdate.firstName"><br/>
    Last Name:<input type="text" ng-model="userForUpdate.lastName"><br/>
    Patronymic:<input type="text" ng-model="userForUpdate.patronymic"><br/>
    Role:
    <select ng-model="userForUpdate.role">
        <option value="USER">User
        <option value="ADMIN">Admin
    </select><br/>
    <button ng-click="updateUser()"
            ng-show="userForUpdate.matchingPassword && (userForUpdate.password === userForUpdate.matchingPassword)">
        Update user
    </button>
</form>
<br/>
<p>3. Delete user:</p>
<form name="deleteUser">
    Input LOGIN:<input type="text" name="loginToDelete" required><br/>
    <button ng-click="delete(loginToDelete)">Delete user</button>
</form>
<br/>
<br/>
<p>4. Users list in DB:</p>
<table border=3 cellspacing=0 ng-show="users[0]">
    <tr bgcolor="#d3d3d3">
        <td ng-if=key!='matchingPassword' ng-repeat="(key, value) in users[0]">{{key}}</td>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{user.login}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.patronymic}}</td>
        <td>{{user.role}}</td>
    </tr>
</table>