<!DOCTYPE html>
<html ng-app="cableroutes">
<head lang="en">
    <meta charset="UTF-8">
    <title>CABLEROUTES v.1.0</title>
    <script src="/resources/js/libs/angular.js"></script>
    <script src="/resources/js/libs/angular-route.js"></script>
    <script src="/resources/js/core/app.js"></script>
    <script src="/resources/js/core/appRouting.js"></script>
    <!--controllers-->
    <script src="/resources/js/common/basicController.js"></script>
    <script src="/resources/js/admin/adminController.js"></script>
    <script src="/resources/js/data/joinPointController.js"></script>
    <!--directives-->
    <script src="/resources/js/directives/fileModel.js"></script>
    <!--services-->
    <script src="/resources/js/common/multipartFormService.js"></script>
    <script src="/resources/js/common/basicService.js"></script>
    <script src="/resources/js/admin/adminService.js"></script>
    <script src="/resources/js/data/joinPointService.js"></script>
</head>

<body>
<div class="hello" ng-controller="basicController" ng-model="currentUser" ng-cloak>
    <p>Hello, {{currentUser.name}}!</p>
    <button name="logoutButton" ng-click="logout()">Logout</button>
    <br/>
    <p>Test functionality:</p>
    <ul class="tabs" role="tablist">
        <li ng-show=currentUser.isAuth><a href="#/admins"><b>ADMIN</b></a></li>
        <li ng-show=currentUser.isAuth><a href="#/joinPointPage">Join Points</a></li>
        <li ng-show=currentUser.isAuth><a href="#/equipments">Equipments</a></li>
        <li ng-show=currentUser.isAuth><a href="#/routes">Routes/Lines</a></li>
        <li ng-show=currentUser.isAuth><a href="#/journals">Journals/Cables</a></li>
        <li ng-show=currentUser.isAuth><a href="#/functionality"><b>FUNCTIONALITY</b></a></li>
    </ul>
</div>
<div ng-view class="container"></div>
</body>
</html>