<p>1. Add new Join Points from new file:</p>
<form ng-model="uploadedFile">
    Choose Join Points file to parse: <input type="file" name="uploadedFile" file-model="uploadedFile"><br />
    <button ng-click="submit()">READ FILE</button>
</form>

<p>2. Add new Join Points manually:</p>
<form method="get" ng-model="newJoinPoint">
    KKS:<input type="text" ng-model="newJoinPoint.kksName"><br/>
    Coordinates:<br/>
    X:<input type="number" ng-model="newJoinPoint.x"><br/>
    Y:<input type="number" ng-model="newJoinPoint.y"><br/>
    Z:<input type="number" ng-model="newJoinPoint.z"><br/>
    <button ng-click="addJoinPoint()">Add new JP</button>
</form>

<p>3. List of Join Points currently in DB:</p>
<table border=3 cellspacing=0>
    <tr><td ng-repeat="key in joinPoint.keys">{{key}}</td></tr>
    <tr bgcolor="#d3d3d3"><td>KKS</td><td>X</td><td>Y</td><td>Z</td></tr>
    <tr ng-repeat="joinPoint in joinPoints">
        <td>{{joinPoint.kksName}}</td><td>{{joinPoint.x}}</td><td>{{joinPoint.y}}</td><td>{{joinPoint.z}}</td>
    </tr>
</table>

<p>4. List of new Join Points entered/parsed (temporary):</p>
* to send this Join Points to DB, press this button:
<button ng-click="sendNewEntriesToDatabase()">ACCEPT</button>
<table border=3 cellspacing=0 >
    <tr bgcolor="#e0ffff"><td>KKS</td><td>X</td><td>Y</td><td>Z</td></tr>
    <tr ng-repeat="newJoinPoint in newJoinPoints">
        <td>{{newJoinPoint.kksName}}</td><td>{{newJoinPoint.x}}</td><td>{{newJoinPoint.y}}</td><td>{{newJoinPoint.z}}</td>
    </tr>
</table>
