<p>1. Add new Join Points from new file:</p>
<form ng-model="uploadedFile">
    Choose Join Points file to parse: <input type="file" name="uploadedFile" file-model="uploadedFile"><br/>
    <button ng-click="submit()">READ FILE</button>
</form>

<p>2. Add or update Join Points manually:</p>
<form method="get" ng-model="newJoinPoint">
    KKS:<input type="text" ng-model="newJoinPoint.kksName" required>
    <button ng-click="getAndShow()" ng-show="newJoinPoint.kksName">Get or new</button><br/>
    <div ng-show="newJoinPoint.kksName">Coordinates:<br/>
        X:<input type="number" ng-model="newJoinPoint.x" step="0.1" required><br/>
        Y:<input type="number" ng-model="newJoinPoint.y" step="0.1" required><br/>
        Z:<input type="number" ng-model="newJoinPoint.z" step="0.1" required><br/>
        <button ng-show="newJoinPoint.x && newJoinPoint.y && newJoinPoint.z"
                ng-click="addJoinPoint()">Create of update
        </button>
    </div>
</form>

<p>3. List of new Join Points entered/parsed (temporary):</p>
<div ng-show="newJoinPoints[0]">
    * to send this Join Points to DB, press this button:
    <button ng-click="sendNewEntriesToDatabase()">ACCEPT</button>
</div>

<table border=3 cellspacing=0 ng-show="newJoinPoints[0]">
    <tr bgcolor="#e0ffff">
        <td ng-repeat="(key, value) in newJoinPoints[0]">{{key}}</td>
    </tr>
    <tr ng-repeat="newJoinPoint in newJoinPoints track by $index">
        <td ng-repeat="(key, value) in newJoinPoint">{{value}}</td>
    </tr>
</table>

<p>4. Delete Join Point:</p>
<form method="get" ng-model="kks">
    KKS: <input type="text" ng-model="kks" required><br/>
    <button ng-show="kks" ng-click="deleteJoinPoint(kks)">Delete JP </button>
</form>

<p>5. List of Join Points currently in DB:</p>
<table border=3 cellspacing=0>
    <tr bgcolor="#d3d3d3">
        <td ng-repeat="(key, value) in joinPoints[0]">{{key}}</td>
    </tr>
    <tr ng-repeat="joinPoint in joinPoints">
        <td ng-repeat="(key, value) in joinPoint">{{value}}</td>
    </tr>
</table>
