<p>1. Add or update Route Type manually:</p>
<form method="get" ng-model="newRouteType">
    Marker:<input type="text" ng-model="newRouteType.marker" required>
    <button ng-click="getAndShow()" ng-show="newRouteType.marker">Get if exists</button><br/>
    <div ng-show="newRouteType.marker">
        Description:<input type="text" ng-model="newRouteType.name"><br/>
    </div>
    <button ng-show="newRouteType.name" ng-click="addNewToTemp()">Create or update</button>
</form>

<p>2. List of new Route Types entered/parsed (temporary):</p>
<div ng-show="newRouteTypes[0]">
    * to send this Route Types to DB, press this button:
    <button ng-click="sendNewEntriesToDatabase()">ACCEPT</button><br/>
</div>
<table border=3 cellspacing=0 ng-show="newRouteType[0]">
    <tr bgcolor="#e0ffff">
        <td ng-repeat="(key, value) in newRouteType[0]">{{key}}</td>
    </tr>
    <tr ng-repeat="newRouteType in newRouteTypes track by $index">
        <td ng-repeat="(key, value) in newRouteType">{{value}}</td>
    </tr>
</table>

<p>3. Delete Route Type:</p>
<form method="get" ng-model="marker">
    KKS: <input type="text" ng-model="marker" required><br/>
    <button ng-show="marker" ng-click="deleteFromDB(marker)">Delete</button>
</form>

<p>4. List of Route Types currently in DB:</p>
<table border=3 cellspacing=0>
    <tr bgcolor="#d3d3d3">
        <td ng-repeat="(key, value) in routeTypes[0]">{{key}}</td>
    </tr>
    <tr ng-repeat="routeType in routeTypes">
        <td ng-repeat="(key, value) in routeType">{{value}}</td>
    </tr>
</table>
